<!DOCTYPE html>
<html lang="en">

<body>
    <h1>StreetEats</h1>

    <form action="/" method="POST">
        <input class="input" type="text" id="type" name="type" placeholder="Category" />
        <input class="input" type="text" id="city" name="city" placeholder="city" />
        <input type="submit" class="btn" id="submit" name="submit" value="search" />
    </form>


    {% block content %}
    <div>
        {% for entry in data["businesses"] %}
        <p>{{entry['name']}}
            <!-- <form action='/like-busuiness' method="POST">
                <input type="hidden" name="business-id" value="{{entry['id']}}" />
                <button class="btn" type="submit" name="like" id="like" value="like">Like </button>
            </form> -->
        <form action='/' method="POST" class="like-form">
            <br />
            Like Count: <span class="like-count">1</span>
            <br />
            <input type="hidden" name="business-id" value="{{entry['id']}}" />
            <button class="btn" type="submit" name="like" id="like" value="like">Like </button>
        </form>
        </p>

        {% if state %}
        <p class="idT">{{entry['id']}}</p>
        {% else %}
        <p class="idT">YES</p>
        {% endif %}

        <span>Rating: {{entry['rating']}}</span>
        <span>Price: {{entry['price']}}</span> <!-- user "distance" for distance from user to place -->

        {% endfor %}
    </div>
    {% endblock content %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type=text/javascript>
   // const ids = [document.getElementById("idT").innerHTML]

   /*NOTES: */

    // var ids = $(".idT")
    // // var element = idT[5]
    // console.log(ids)

        $('.like-form').submit(function (e) {
            e.preventDefault();
            // var formData = new FormData(e.target)
            // console.log(formData)
            // var businessId = formData.get("business-id")

            $.ajax({
                url:"/like-business",
                type:"POST",
                cache:false,
                data:$(e.target).serialize(),
                success: function (data) {
                    console.log(data);
                    var likeCountSpan = $(e.target).find('.like-count')[0]
                    var newLikeCount = Number(likeCountSpan.innerText) + 1
                    likeCountSpan.innerText = `${newLikeCount}`
                }
                });
        })

   /*  $(function() { //when button is clicked it sends get request to function likeBusiness
        $('#like').submit(function(e) {
            e.preventDefault(); 

            $.ajax({
                url:"__init__.py",
                type:"POST",
                cache:false,
                data:$("#like").serialize(),
                success: function (data) {
                        console.log("helllo");
                }
                });

             $.getJSON('/', 
                function(data) {
                    //this does nothing
                });
            return false;  
        });
    }); 
    */
    
</script>

</body>

</html>