{% extends "userview.html" %}

{% block content %}

<div class="content">
    <div class="card mb-3">
        <div class="photo-results">
            <img src="{{businessData['image_url']}}" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h2 class="card-title">{{name}}</h2>

            <p class="card-text"></p>
            <p><strong>Price: </strong> {{businessData['price']}}</p>
            <p><strong>Rating: </strong> {{businessData['rating']}}</p>
            <p><strong>Phone: </strong>{{businessData['display_phone']}}</p>
            <p><strong>Services: </strong> {{businessData['transactions']}}</p>
            <p><strong>Address: </strong>{{businessData['location']['address1']}}, {{businessData['location']['city']}}, {{businessData['location']['state']}} {{businessData['location']['zip_code']}}, {{businessData['location']['country']}}</p>

            <br>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

        </div>
    </div>
</div>


<div class="content">
    <div class="card mb-3">
        <div class="card-body">
            <h2 class="card-title">Reviews</h2>

            {% for data in reviews['reviews'] %}
            <div class="review-content">
                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Review #1</h4>
                        <p class="card-text">
                            Rating: {{data['rating']}}
                            <br>{{data['text']}} <br><br>
                            <br> Review by: {{data['user']['name']}}

                        </p>
                        <br>
                        <p class="card-text"><small class="text-muted">Date reviewed: {{data['time_created']}}</small>
                        </p>
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>
    </div>



    {% endblock %}